<div>
<h4>Hello, {{session['name']}} ;)</h4>
    <a class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Profile</a>
    <ul class="nav nav-sidebar">
        <!--<li><a href="#">New Test</a></li>-->
        <li><a href="#">Classes</a></li>
        <li><a href="#">Students</a></li>
    </ul>
    <a class="btn btn-primary" data-toggle="modal" data-target="#new-test-modal">
        <span class="glyphicon glyphicon-plus-sign"></span> New Test
    </a>
    <ul class="nav nav-sidebar">
        <li><a href="">Subject 1</a></li>
        <li><a href="">Subject 2</a></li>
        <!--<li><a href="">Reports</a></li>
        <li><a href="">Analytics</a></li>
        <li><a href="">Export</a></li>-->
    <ul>   
</div>        